In [1]:
import pandas as pd
import sqlite3

# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
#connect
conn = sqlite3.connect('testDB.sqlite')

In [3]:
#obtain a cursor - something to loop through via database connection
cur = conn.cursor()

In [4]:
read_word_data = pd.read_csv (r'all_word_data.csv')
read_word_data.to_sql('WORDS', conn, if_exists='append', index = False) # Insert the values from the csv file into the table 'WORDS'

In [5]:
read_word_data = pd.read_csv (r'all_word_data.csv')
read_word_data.to_sql('WORDS', conn, if_exists='append', index = False) # Insert the values from the csv file into the table 'CLIENTS'

In [6]:
# Query All Records in the the City Table
word_data = pd.read_sql("SELECT * FROM WORDS", conn)

In [7]:
word_data.head()

,author_group,author,title,word,frequency,total_words_used,total_non_stop_words,total_unique_non_stop_words
0,poets,Maya Angelou,Poet1_Poem1,pretty,1,277,109,88
1,poets,Maya Angelou,Poet1_Poem1,women,1,277,109,88
2,poets,Maya Angelou,Poet1_Poem1,wonder,1,277,109,88
3,poets,Maya Angelou,Poet1_Poem1,secret,1,277,109,88
4,poets,Maya Angelou,Poet1_Poem1,lies,2,277,109,88