In [4]:
import re
import numpy as np
import pandas as pd
import nltk
# import requests
# from bs4 import BeautifulSoup
# import urllib.request

In [33]:
csv_of_works = "csv_of_works.csv"

list_of_works_df = pd.read_csv(csv_of_works, header=None)

In [34]:
list_of_works_df

                0
0     Poet1_Poem1
1     Poet1_Poem2
2     Poet1_Poem3
3     Poet1_Poem4
4     Poet1_Poem5
5     Poet2_Poem1
6     Poet2_Poem2
7     Poet2_Poem3
8     Poet2_Poem4
9     Poet2_Poem5
10    Poet3_Poem1
11    Poet3_Poem2
12    Poet3_Poem3
13    Poet3_Poem4
14    Poet3_Poem5
15    Poet4_Poem1
16    Poet4_Poem2
17    Poet4_Poem3
18    Poet4_Poem4
19    Poet4_Poem5
20    Poet5_Poem1
21    Poet5_Poem2
22    Poet5_Poem3
23    Poet5_Poem4
24    Poet5_Poem5
25  artist1_song1
26  artist1_song2
27  artist1_song3
28  artist1_song4
29  artist1_song5
..            ...
45  artist5_song1
46  artist5_song2
47  artist5_song3
48  artist5_song4
49  artist5_song5
50      DBarstow1
51      DBarstow2
52      DBarstow3
53      DBarstow4
54      DBarstow5
55      MMichael1
56      MMichael2
57      MMichael3
58      MMichael4
59      MMichael5
60      AHolpuch1
61      AHolpuch2
62      AHolpuch3
63      AHolpuch4
64      AHolpuch5
65       OMilman1
66       OMilman2
67       OMilman3
68       OMilman4
69       OMilman5
70       MBryant1
71       MBryant2
72       MBryant3
73       MBryant4
74       MBryant5

[75 rows x 1 columns]

In [35]:
list_of_works = list_of_works_df[0].tolist()

In [36]:
list_of_works

['Poet1_Poem1',
 'Poet1_Poem2',
 'Poet1_Poem3',
 'Poet1_Poem4',
 'Poet1_Poem5',
 'Poet2_Poem1',
 'Poet2_Poem2',
 'Poet2_Poem3',
 'Poet2_Poem4',
 'Poet2_Poem5',
 'Poet3_Poem1',
 'Poet3_Poem2',
 'Poet3_Poem3',
 'Poet3_Poem4',
 'Poet3_Poem5',
 'Poet4_Poem1',
 'Poet4_Poem2',
 'Poet4_Poem3',
 'Poet4_Poem4',
 'Poet4_Poem5',
 'Poet5_Poem1',
 'Poet5_Poem2',
 'Poet5_Poem3',
 'Poet5_Poem4',
 'Poet5_Poem5',
 'artist1_song1',
 'artist1_song2',
 'artist1_song3',
 'artist1_song4',
 'artist1_song5',
 'artist2_song1',
 'artist2_song2',
 'artist2_song3',
 'artist2_song4',
 'artist2_song5',
 'artist3_song1',
 'artist3_song2',
 'artist3_song3',
 'artist3_song4',
 'artist3_song5',
 'artist4_song1',
 'artist4_song2',
 'artist4_song3',
 'artist4_song4',
 'artist4_song5',
 'artist5_song1',
 'artist5_song2',
 'artist5_song3',
 'artist5_song4',
 'artist5_song5',
 'DBarstow1',
 'DBarstow2',
 'DBarstow3',
 'DBarstow4',
 'DBarstow5',
 'MMichael1',
 'MMichael2',
 'MMichael3',
 'MMichael4',
 'MMichael5',
 'AHolpuch1',
 'AHolpuch2',
 'AHolpuch3',
 'AHolpuch4',
 'AHolpuch5',
 'OMilman1',
 'OMilman2',
 'OMilman3',
 'OMilman4',
 'OMilman5',
 'MBryant1',
 'MBryant2',
 'MBryant3',
 'MBryant4',
 'MBryant5']

In [37]:
Test_df = pd.DataFrame(columns=["author_group","author","title","word","frequency","total_words_used","total_non_stop_words","total_unique_non_stop_words"])

In [38]:
Test_df

Empty DataFrame
Columns: [author_group, author, title, word, frequency, total_words_used, total_non_stop_words, total_unique_non_stop_words]
Index: []

In [39]:
for work in list_of_works:
    with open(work + '.txt', 'r') as file:
        text = file.read().replace('\n', ' ')
    tokens = re.findall('\w+', text)
    all_lower = []

    for word in tokens:
        all_lower.append(word.lower())
    total_number_words_used_in_work = len(all_lower)
    sw = nltk.corpus.stopwords.words('english')
    non_stop_words = []

    # Add to words_ns all words that are in words but not in sw
    for word in all_lower:
        if word not in sw:
            non_stop_words.append(word)

    total_non_stop_words = len(non_stop_words)

    dictionary_of_words_used = {}

    for x in non_stop_words:
       if x in dictionary_of_words_used:
           dictionary_of_words_used[x] = dictionary_of_words_used[x] + 1
       else:
           dictionary_of_words_used[x] = 1

    total_unique_non_stop_words_used = len(list(dictionary_of_words_used.keys()))

    dictionary_of_words_used_df = pd.DataFrame(list(dictionary_of_words_used.items()))

    dictionary_of_words_used_df['title'] = work

    dictionary_of_words_used_df = dictionary_of_words_used_df.rename(index=str, columns={0: "word"})

    dictionary_of_words_used_df = dictionary_of_words_used_df.rename(index=str, columns={1: "frequency"})

    dictionary_of_words_used_df['total_words_used'] = total_number_words_used_in_work

    dictionary_of_words_used_df['total_non_stop_words'] = total_non_stop_words

    dictionary_of_words_used_df['total_unique_non_stop_words'] = total_unique_non_stop_words_used

    Test_df = Test_df.append(dictionary_of_words_used_df, ignore_index=True)
              
Test_df.to_csv("Test_df_result.csv", index=False, header=True)

In [32]:
# dictionary_of_words_used_df

In [31]:
Test_df

,author,author_group,frequency,title,total_non_stop_words,total_unique_non_stop_words,total_words_used,word
0,NaN,NaN,1,Poet1_Poem1,109,88,277,pretty
1,NaN,NaN,1,Poet1_Poem1,109,88,277,women
2,NaN,NaN,1,Poet1_Poem1,109,88,277,wonder
3,NaN,NaN,1,Poet1_Poem1,109,88,277,secret
4,NaN,NaN,2,Poet1_Poem1,109,88,277,lies
5,NaN,NaN,1,Poet1_Poem1,109,88,277,cute
6,NaN,NaN,1,Poet1_Poem1,109,88,277,built
7,NaN,NaN,1,Poet1_Poem1,109,88,277,suit
8,NaN,NaN,1,Poet1_Poem1,109,88,277,fashion
9,NaN,NaN,1,Poet1_Poem1,109,88,277,model
10,NaN,NaN,1,Poet1_Poem1,109,88,277,size
11,NaN,NaN,1,Poet1_Poem1,109,88,277,start
12,NaN,NaN,1,Poet1_Poem1,109,88,277,tell
13,NaN,NaN,1,Poet1_Poem1,109,88,277,think
14,NaN,NaN,1,Poet1_Poem1,109,88,277,telling
15,NaN,NaN,5,Poet1_Poem1,109,88,277,say
16,NaN,NaN,1,Poet1_Poem1,109,88,277,reach
17,NaN,NaN,1,Poet1_Poem1,109,88,277,arms
18,NaN,NaN,1,Poet1_Poem1,109,88,277,span
19,NaN,NaN,1,Poet1_Poem1,109,88,277,hips
20,NaN,NaN,1,Poet1_Poem1,109,88,277,stride
21,NaN,NaN,1,Poet1_Poem1,109,88,277,step
22,NaN,NaN,1,Poet1_Poem1,109,88,277,curl
23,NaN,NaN,1,Poet1_Poem1,109,88,277,lips
24,NaN,NaN,8,Poet1_Poem1,109,88,277,woman
25,NaN,NaN,4,Poet1_Poem1,109,88,277,phenomenally
26,NaN,NaN,4,Poet1_Poem1,109,88,277,phenomenal
27,NaN,NaN,1,Poet1_Poem1,109,88,277,walk
28,NaN,NaN,1,Poet1_Poem1,109,88,277,room
29,NaN,NaN,1,Poet1_Poem1,109,88,277,cool
...,...,...,...,...,...,...,...,...
146,NaN,NaN,1,Poet1_Poem2,109,88,277,still
147,NaN,NaN,1,Poet1_Poem2,109,88,277,arch
148,NaN,NaN,1,Poet1_Poem2,109,88,277,back
149,NaN,NaN,1,Poet1_Poem2,109,88,277,sun
150,NaN,NaN,1,Poet1_Poem2,109,88,277,smile
151,NaN,NaN,1,Poet1_Poem2,109,88,277,ride
152,NaN,NaN,1,Poet1_Poem2,109,88,277,breasts
153,NaN,NaN,1,Poet1_Poem2,109,88,277,grace
154,NaN,NaN,1,Poet1_Poem2,109,88,277,style
155,NaN,NaN,1,Poet1_Poem2,109,88,277,understand
156,NaN,NaN,1,Poet1_Poem2,109,88,277,head
157,NaN,NaN,1,Poet1_Poem2,109,88,277,bowed
158,NaN,NaN,1,Poet1_Poem2,109,88,277,shout
159,NaN,NaN,1,Poet1_Poem2,109,88,277,jump
160,NaN,NaN,1,Poet1_Poem2,109,88,277,talk
161,NaN,NaN,1,Poet1_Poem2,109,88,277,real
162,NaN,NaN,1,Poet1_Poem2,109,88,277,loud
163,NaN,NaN,1,Poet1_Poem2,109,88,277,passing
164,NaN,NaN,1,Poet1_Poem2,109,88,277,ought
165,NaN,NaN,1,Poet1_Poem2,109,88,277,make
166,NaN,NaN,1,Poet1_Poem2,109,88,277,proud
167,NaN,NaN,1,Poet1_Poem2,109,88,277,click
168,NaN,NaN,1,Poet1_Poem2,109,88,277,heels
169,NaN,NaN,1,Poet1_Poem2,109,88,277,bend
170,NaN,NaN,1,Poet1_Poem2,109,88,277,hair
171,NaN,NaN,1,Poet1_Poem2,109,88,277,palm
172,NaN,NaN,1,Poet1_Poem2,109,88,277,hand
173,NaN,NaN,1,Poet1_Poem2,109,88,277,need
174,NaN,NaN,1,Poet1_Poem2,109,88,277,care
175,NaN,NaN,1,Poet1_Poem2,109,88,277,cause